<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Set the administrator</title>
</head>
<body>
    <form th:method ="POST" action="@{/admin/add}">
        <label for="person"> Chose the person</label>
        <select th:object = "${person}" th:field = "*{id}"  id="person">
            <option th:each = "person : ${people}" th:value = "${person.getId()}"
                    th:text = "${person.getName()}">
            </option>
        </select>

        <input type="submit" value="Make admin!">
    </form>
</body>
</html>